<div class="ctrlHolder">
    <h4 class="readOnlyLabel">{{ readonly.label }}</h4>
    {% for field in readonly.fields %}
    <div class="readOnly">
        <div class="readOnly">
            {% ifequal readonly.fields|length 1 %}
            {% else %}
            <span class="choiceLabel">{{ field.meta.verbose_name }}</span>
            {% endifequal %}
            <span class="choice">{{ field.value }}</span>
        </div>
    </div>
    {% endfor %}
    {% if readonly.help_text %}
        <p class="formHint">{{ readonly.help_text }}</p>
    {% endif %}
</div>