{% extends "base.html" %}
{% load zenforms %}

{% block head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/uni-form.css" type="text/css" />
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/default.uni-form.css" type="text/css" />

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/uni-form.jquery.min.js"></script>
{% endblock %}

{% block content %}
    <form class="uniForm" action="" method="post">
    {% zenform form options no_form_tag=1%}
        {% fieldset 'address' 'address2' 'sex' 'postal_code' 'age' title 'Profile' %}
        {% multifield 'phone1' 'phone2' as phones label 'Phones' %}
        {% fieldset phones %}
        {{ formset.management_form }}
    {% endzenform %}

{% comment %}
    {% for form_in_set in formset %}
        {% zenform form_in_set options action="." no_form_tag=1 %}
            {% fieldset unused_fields title 'Card' %}
        {% endzenform %}
    {% endfor %}
{% endcomment %}
    {% submit %}
    </form>
    <a href="{% url index %}">Registration form</a>
    <a href="{% url formset %}">Ugly Formset</a>
    <script type="text/javascript">
        $('form.uniForm').uniform();
    </script>

{% endblock %}