{% extends "base.html" %}
{% load zenforms %}

{% block head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/uni-form.css" type="text/css" />
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/default.uni-form.css" type="text/css" />

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/uni-form.jquery.min.js"></script>
{% endblock %}

{% block content %}

{% zenform form %}
    {% fieldset 'username' title 'User data' %}
    {% fieldset unused_fields title 'The rest' %}
    {% submit %}
    <a href="..">Ugly <tt>as_table()</tt></a>
{% endzenform %}

{% endblock %}