{% extends "base.html" %}
{% load zenforms %}

{% block head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/uni-form.css" type="text/css" />
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/default.uni-form.css" type="text/css" />

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/uni-form.jquery.min.js"></script>
{% endblock %}

{% block content %}

{% zenform form %}
{#    {% readonly admin 'username' 'last_name' label 'Information' as info %}#}
    {% fieldset 'username' title 'User data' %}
    {% multifield 'password1' 'password2' as passwords  %}
    {% fieldset passwords title 'The rest' %}
{#    {% readonly admin 'username' 'last_name' label 'Information' %}#}
{#    {% readonly admin 'username' label 'Information2' %}#}
    {% submit %}
    <a href="{% url index %}">Ugly Registration form</a>
    <a href="{% url formset %}">Formset</a>
{% endzenform %}

{% endblock %}