{% if options.notag %}
{% else %}
    <form class="uniForm" action="{{ options.action }}" method="{{ options.method }}" enctype="application/x-www-form-urlencoded">
{% if form.non_field_errors %}
    <div id="errorMsg">
        {% load i18n %}
        <h3>{% trans "Please correct the error below" %}</h3>
        <ol>
            {% for error in form.non_field_errors %}
                <li>{{ erorr }}</li>
            {% endfor %}
        </ol>
    </div>
{% endif %}
{% endif %}
{{ form.media }}
